* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1F3B2C;
    color: #fff;
}

/* Header styles */
.header-container {
    background-color: #1F3B2C;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo styles */
.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* Profile picture styles */
.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: auto;
}

/* Navigation menu styles */
.nav-menu {
    list-style-type: none;
    margin-left: 900px;
    padding: 0;
}


.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
}

/* Main styles */
.main {
    padding: 20px;
}

.profile {
    background-color: #FDC500;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.profile h2 {
    margin-bottom: 10px;
}

.user-details {
    margin-top: 20px;
}

.detail {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
    color: #FFEB3B;
    margin-bottom: 5px;
    display: block;
}

.value {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.value:disabled {
    background-color: transparent;
}

.actions {
    display: flex;
}

.logout {
    background-color: #FF1744;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

/* Your existing CSS styles */

/* New styles for the card */
.card {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

/* Footer styles */
.footer {
    background-color: #1F3B2C;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-text {
    color: #fff;
    margin: 0;
}

.edit-profile {
    background-color: #FDC500; /* Warna latar belakang kuning */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.save-profile {
    background-color: #1cf231; /* Warna latar belakang kuning */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
}